<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>CheckinSamples</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="page_icon.png">
<link rel="stylesheet" href="styles.d578640d93e4e3b2.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="styles.d578640d93e4e3b2.css"></noscript></head>
<body>
  <app-root></app-root>
<script src="runtime.c48fed22779eb502.js" type="module"></script><script src="polyfills.203490077e854093.js" type="module"></script><script src="main.558df7340be7dc3b.js" type="module"></script>

</body></html>